.genre-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
}

.genre-card {
  background-color: #f5f5f5; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.genre-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.show-image-container {
  text-align: center;
}

.show-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.show-image:hover {
  transform: scale(1.1);
}

.show-name {
  margin-top: 5px;
  font-size: 12px;
  color: #1f2937;
}

.genre-name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  color: #1f2937;
  ;
}
