.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  .header .search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .header .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 2rem;
  }
  
  .profile .dropdown-icon {
    font-size: 1.2rem;
    color: whitesmoke;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0 10px;
  }

  .dropdown-menu li:hover{
    text-decoration: underline;
  }

  .search-results {
    position: absolute;
    top: 10%;
    left: 5%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 200px; 
    width: 20%; 
    z-index: 1000;
    padding: 0.5rem 0; 
    padding-top: 1.5rem;
  }
  
  .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    color: navy;
    font-weight: bold;
  }
  
  .search-result-item:hover {
    background-color: #f0f0f0;
  }
  
  .show-image {
    width: 30px;
    height: 70px;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .no-results {
    padding: 10px;
    text-align: center;
    color: gray;
    font-size: 0.8rem;
  }

  .close-results {
    position: sticky;
    left: 370px;
    background: none;
    border: none;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
  }
  
  .close-results:hover {
    color: black;
  }

  .search-bar img {
    margin-top: 5px;
    margin-right: 5px;
  }