.seasons-flex-container {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;  
    justify-content: center;  
    margin-top: 20px;
  }
  

  .season-card {
    background-color: #f9f9f9; 
    border-radius: 10px; 
    width: 250px; 
    padding: 20px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: flex;
    flex-direction: column; 
    align-items: center;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
  }
  
  .season-card:hover {
    transform: translateY(-5px);  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
  }
  
  
  .season-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 15px;  
  }
  
  .season-button {
    background-color: #57cc99;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .season-button:hover {
    background-color: #22577a;
  }

  .season-image {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
  }
  